"*":
  core:
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "9655465d-e4da-0207-f6b9-8ea43afda3b1"
  "go-plus":
    currentPanelHeight: "21.797884841363103vh"
  "tester-go": {}
  welcome:
    showOnStartup: false
